/* ------------------
    COMMONS  
------------------ */
body {
    color: var(--ms-first-color);
}
.debug-card {
    height: 18.75rem;
    background-color: #0e38b5;
    border: 2px solid white;
}
a {
    text-decoration: none;
    color: inherit;
}
.ms-star-icon{
    position: relative;
    font-size: 2.1875rem;
    width: 30%;
}

/* ------------------
    STAR ICONS
------------------ */
.ms-star-icon::before {
    content: '';
    position: absolute;
    height: .3125rem;
    width: 35%;
    background-color: currentColor;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.ms-star-icon::after {
    content: '';
    position: absolute;
    height: .3125rem;
    width: 35%;
    background-color: currentColor;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/* ------------------
    CIRCLE ICONS  
------------------ */
.ms-circle {
    position: relative;
    width: 3.125rem;
    height: 3.125rem;
    border: 1px solid var(--ms-first-color);
    border-radius: 50%;
}
.ms-circle i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5625rem;
}