@import 'utility.css';
@import 'components/ms-card.css';
@import 'common.css';

/* ------------------
    HEADER  
------------------ */
header {
    background-color: var(--ms-bg-second-color);
}
.logo {
    font-size: 1.125rem;
}

/* ------------------
    HERO  
------------------ */
#hero {
    background-color: var(--ms-bg-first-color);
}
#hero img {
    width: 15.625rem;
    height: 15.625rem;
}

/* ------------------
    PORTFOLIO  
------------------ */
#portfolio {
    color: var(--ms-second-color);
}

/* ------------------
    ABOUT  
------------------ */
#about {
    background-color: var(--ms-bg-first-color);
}

/* ------------------
    CONTACT ME  
------------------ */
#contact-me p {
    color: black;
}

/* ------------------
    PRE-FOOTER 
------------------ */
#pre-footer {
    background-color: var(--ms-bg-second-color-light);
}

/* ------------------
    FOOTER 
------------------ */
#footer {
    background-color: var(--ms-bg-second-color);
    text-align: center;
}
#footer small {
    display: block;
}