:root {
    --bg-header: #2c3e50;
    --bg-hero: #1abc9c;
    --bg-card-1: #ba4b63;
    --bg-card-2: #1ea4b6;
    --bg-card-3: #140f0f;
    --bg-card-4: #1c83c1;
    --bg-card-5: #0e38b5;
    --bg-card-6: #ccb2a3;
    --bg-prefooter: #3a546d;
    --bg-footer: #2c3e50;
}
/* ------------------
    COMMONS  
------------------ */
body {
    color: white;
}
h2 {
    color: black;
    text-align: center;
}
.debug-card {
    height: 18.75rem;
    background-color: #0e38b5;
    border: 2px solid white;
}
/* ------------------
    HEADER  
------------------ */
header {
    background-color: var(--bg-header);
}

/* ------------------
    MAIN  
------------------ */
/* ------------------
    HERO  
------------------ */
#hero {
    background-color: var(--bg-hero);
}
#hero img {
    width: 15.625rem;
    height: 15.625rem;
    background-color: wheat;
}

/* ------------------
    ABOUT  
------------------ */
#about {
    background-color: var(--bg-hero);
}
#about h2 {
    color: inherit;
}
