/* ------------------
    BACKBOUND-COLORS  
------------------ */
:root {
    --ms-bg-first-color: #1abc9c;
    --ms-bg-second-color: #2c3e50;
    --ms-bg-second-color-light: #3a546d;
    --ms-bg-third-color: #ba4b63;
    --ms-bg-fourth-color2: #1ea4b6;
    --ms-bg-fifth-color: #140f0f;
    --ms-bg-sixth-color: #1c83c1;
    --ms-bg-seventh-color: #0e38b5;
    --ms-bg-eighth-color: #ccb2a3;
}
/* ------------------
    COLORS
------------------ */
:root {
    --ms-first-color: white;
    --ms-second-color: black;
}