/* ------------------
    BACKBOUND-COLORS  
------------------ */
:root {
    --ms-bg-first-color: #1abc9c;
    --ms-bg-second-color: #2c3e50;
    --ms-bg-second-color-light: #3a546d;
}
/* ------------------
    COLORS
------------------ */
:root {
    --ms-first-color: white;
    --ms-second-color: black;
}