/* ------------------
    BACKBOUND-COLORS  
------------------ */
:root {
    --ms-bg-first-color: #1abc9c;
    --ms-bg-second-color: #2c3e50;
    --ms-bg-second-color-light: #3a546d;
}
/* ------------------
    COLORS
------------------ */
:root {
    --ms-first-color: white;
    --ms-second-color: black;
}
/* ------------------
    COLORS-CLASS
------------------ */
.ms-btn-color {
    color: var(--ms-first-color);
}
.ms-border-color {
    border: 1px solid var(--ms-first-color);
}
/* ------------------
    SPACER
------------------ */
.ms-px-7 {
    padding-left: 4.375rem;
    padding-right: 4.375rem;
}